* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.box {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #000;
  color: #fff;
}

#nog {
  color: #fff;
  font-size: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  color: #000;
  font-size: 20px;
  cursor: pointer;
  width: "100%";
  border-radius: 10px;
}

.start {
  background-color: lightgreen;
}
.start::before {
  content: 'Start';
}

.stop {
  background-color: lightcoral;
}
.stop::before {
  content: 'Stop';
}

.form-group {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
}

.form-group label {
  font-size: 13px;
}

#gamble_box_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

#gamble_box {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
}


input {
  padding: 3px 7px;
  font-size: 13px;
  border: none;
  border-radius: 5px;
  outline: none;
  width: 100%;
}